@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Righteous');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*body {
	padding-top: 50px;  
}*/

h2 {
	font-family: 'Righteous', cursive;
	font-size: 30px;
	text-align: center;
	padding: 30px;
}

h3 {
	font-family: 'Righteous', cursive;
	color: #A09BE7;
	text-align: center;
	padding: 10px;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	padding: 10px;
	color: #2E2E2E;

}

#about {
	color: #5F00BA;
}

.top-nav {
	display: flex;
	background: #000;
	min-height: 50px;
	overflow: hidden; /*it will make the container flow*/
	align-items: center; /*Aligns text in the center*/
	opacity: .8;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.top-nav li a {
	text-decoration: none;
	font-family: 'Righteous', cursive;
	color: #fff;
	border-left: 3px solid #000;
	transition: .5s;
}

.top-nav li a:hover {
	color: #A09BE7;;
	border-left: 3px solid #A09BE7;;
	
}

.brand-text {
	font-family: 'Righteous', cursive;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	margin-left: 15px;
	padding: 10px;
/*	color: orange !important;  Adds importance, so it makes the brand text orange, eventhough the parent container (text decoration) is declaring the text as white*/
}

.top-nav-list {
	display: flex;
	list-style: none; /*Removes bullet points*/
	margin-left: auto; /*Moves list to the right*/
}

.top-nav-list li {
	margin: 0px 15px; /*Adds space between items*/

}

.top-nav-list a {
	padding: 10px;
}

.full-screen-bg {
	display: flex;
	height: 100vh; /* Viewport height*/
	width: 100%; /* Viewport width*/
	background-image: url("../images/b-full.jpeg");
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	font-family: 'Righteous', cursive;
	font-size: 40px;
	color: white;
	text-align: center;
}



.flex-row {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;

}

.col-4-2-1 {
	width: 23%;
	margin: 1%;
	padding: 10px;
}

.col-4-2-1 img {
	width: 250px;
	display: block;
	margin: auto;
	border-radius: 50%;
}

@media (max-width: 1200px) {
	.full-screen-bg {
		background-image: url("../images/b-full.jpeg")
	}
	.flex-row {
		flex-wrap: wrap;
	}
	.col-4-2-1 {
		width: 30%;
	}
	.container-services {
		flex-wrap: wrap;
	}

}

@media (max-width: 992px) {
	.full-screen-bg {
		background-image: url("../images/b-medium.jpeg")
	}
	.col-4-2-1 {
		width: 48%;
	}
	.text-container {
		width: 80%;	}
}

@media (max-width: 600px) {
	.top-nav {
		display: block;
		padding: 10px 0px;
	}
	.full-screen-bg {
		background-image: url("../images/b-small.jpeg")
	}
	.col-4-2-1 {
		width: 98%;
	}
}

/*Services*/

.container-services-bg {
	display: block;
	background-color: #A09BE7;
	color: white;
}

.container-services {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;

}

.container-services img {
	margin: 0px 10px;
	padding: 10px;
}

.container-services h3 {
	color: white;
}

#text-container-2 {
	display: flex;
	flex-direction: row-reverse;
}

/* CONTACT STYLE
===============================================================================*/

.contact-bg {
	background-image: url("../images/contact.jpeg");
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
}


.contact {
	color: #FFF;
}

.main-content {
	display: block;
	justify-content: center;
	align-items: center;
}

.main-content form {
    width: 700px;
    margin-bottom: 30px;
    margin-top: 30px;
	overflow: hidden;

}

@media (max-width: 400px) {
    .main-content form {
        width: 100%;
    }
}

.main-content h2 {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

form {
    background: #5F00BA;
    opacity: .7;
    margin: auto;
    text-align: left;
    width: 80%;
    padding: 30px;
    border-radius: 8px;
    border: none;
}

label {
    display: block;
}

input {
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
}

input::placeholder {
    font-family: 'Quicksand', sans-serif;
    opacity: .4;
}

textarea {
    margin: 10px 0px;
    padding: 10px;
    float: left;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border: none;
    max-height: 100%;
    max-width: 100%; 
}

textarea::placeholder {
    font-family: 'Quicksand', sans-serif;
    opacity: .4;
}

.subscribe-a label {
    display: inline;
}

.subscribe-a input {
    width: auto;
}


.form-headers {
    margin:10px 0px;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-align: right;
    color: #fff;
}

button {
    border-radius: 8px;
    background-color: #A09BE7;
    /* Green */
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
}

button:hover {
    /* Hover over "No space in bet a:hover" */
    padding: 10px;
    background-color: #FF5A5F;
    color: white;
}


