@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Righteous');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*body {
	padding-top: 50px;  
}*/

h2 {
	font-family: 'Righteous', cursive;
	font-size: 30px;
	text-align: center;
	padding: 30px;
}

h3 {
	font-family: 'Righteous', cursive;
	color: #A09BE7;
	text-align: center;
	padding: 10px;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	padding: 10px;
	color: #2E2E2E;

}

#about {
	color: #5F00BA;
}

.top-nav {
	display: flex;
	background: #000;
	min-height: 50px;
	overflow: hidden; /*it will make the container flow*/
	align-items: center; /*Aligns text in the center*/
	opacity: .8;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.top-nav li a {
	text-decoration: none;
	font-family: 'Righteous', cursive;
	color: #fff;
	border-left: 3px solid #000;
	transition: .5s;
}

.top-nav li a:hover {
	color: #A09BE7;;
	border-left: 3px solid #A09BE7;;
	
}

.brand-text {
	font-family: 'Righteous', cursive;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	margin-left: 15px;
	padding: 10px;
/*	color: orange !important;  Adds importance, so it makes the brand text orange, eventhough the parent container (text decoration) is declaring the text as white*/
}

.top-nav-list {
	display: flex;
	list-style: none; /*Removes bullet points*/
	margin-left: auto; /*Moves list to the right*/
}

.top-nav-list li {
	margin: 0px 15px; /*Adds space between items*/

}

.top-nav-list a {
	padding: 10px;
}

.full-screen-bg {
	display: flex;
	height: 100vh; /* Viewport height*/
	width: 100%; /* Viewport width*/
	background-image: url("../images/b-full.jpeg");
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	font-family: 'Righteous', cursive;
	font-size: 40px;
	color: white;
	transition: background-image .5s;
	text-align: center;
}

.flex-row {
	display: flex;
	flex-wrap: nowrap;
}

.col-4-2-1 {
	width: 23%;
	margin: 1%;
	padding: 10px;
}

.col-4-2-1 img {
	width: 250px;
	display: block;
	margin: auto;
	border-radius: 50%;
}

@media (max-width: 1200px) {
	.full-screen-bg {
		background-image: url("../images/b-full.jpeg")
	}
	.flex-row {
		flex-wrap: wrap;
	}
	.col-4-2-1 {
		width: 30%;
	}
}

@media (max-width: 992px) {
	.full-screen-bg {
		background-image: url("../images/b-medium.jpeg")
	}
	.col-4-2-1 {
		width: 48%;
	}
}

@media (max-width: 600px) {
	.top-nav {
		display: block;
		padding: 10px 0px;
	}
	.full-screen-bg {
		background-image: url("../images/b-small.jpeg")
	}
	.col-4-2-1 {
		width: 98%;
	}
}


